@{
    ViewData["Title"] = "Home Page";
    @model ListedProductTbl
}





<div>
    <div class="pageItems">
        <ul class="pagefunctions">
            <li id="doProducts" onclick="doProducts()">
                Products
            </li>
            <li id="doProducts" onclick="searchPlayerEbay()">
                Results
            </li>
        </ul>
    </div>
    <table data-role="table" class="ui-responsive" id="pTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sport</th>
                <th>Year</th>
                <th>Manufacturer</th>
                <th>Mainset</th>
                <th>Subset</th>
                <th>playername</th>
                <th>Card Number</th>
                <th>Parallel</th>
                <th>Rookie</th>
                <th>Auto</th>
                <th>Serial Numbered</th>
                <th>Memorabilia</th>
            </tr>
        </thead>
    </table>

   
    <br />

    <div id="selectPlayer">
        <select id="playerSelect"></select>
        <button id="searchByPlayerButton">Search By Player</button>
    </div>

    <h2 id="pAPIHeader"> API Product Data</h2>
    <table data-role="table" class="ui-responsive" id="pEbayTable" onclick="searchPlayerEbay">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Condition</th>
                <th>Link</th>
                <th>SoldDate</th>
            </tr>
        </thead>
    </table>
</div>
