@{
    ViewData["Title"] = "Home Page";
}

<h1 class="headerClass">Header</h1>
<div>
    <h2>Products</h2>
    <table data-role="table" class="ui-responsive" id="productsTbl">
        <thead>
            <tr>
                <th>id</th>
                <th>sport_fk</th>
                <th>year</th>
                <th>manufacturer_fk</th>
                <th>mainset</th>
                <th>subset</th>
                <th>playername</th>
                <th>cardno</th>
                <th>parallel</th>
                <th>rookie</th>
                <th>auto</th>
                <th>serialnumbered</th>
                <th>memorabilia</th>
            </tr>
        </thead>
    </table>
</div>
