html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#pTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size:.7em;
}

#pTable td, #customers th {
    border: 1px solid #a8d0ba;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #b0c4c7;
}
tr:hover {
    background-color: coral;
}
th, td {
    border-bottom: 1px solid #ddd;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size:.7em;
    background-color: #23455ff5;
    color: white;
}
ul {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    grid-template-rows: 2.9em;
    list-style-type: none;
    margin: 0% 0 0 2%;
    padding: 1% 2% 3% 1%;
    z-index: 1;
}

.selected {
    border:solid coral 3px;
    background-color: yellow;
    cursor: pointer;
}
#searchPlayer {
    color: #ffefaf;
    background-color: #003c66;
    color: #ffffff;
    width: 100px;
    border-radius: 15px;
    text-align:center;
}

#doProducts {
    background-color: #003c66;
    color: #ffffff;
    width: 100px;
    border-radius: 15px;
    text-align:center;
}

#doProducts:hover {
    background-color: #22a;    
    cursor: pointer;
}
#searchPlayer:hover {
    background-color: #22a;
    
    cursor: pointer;
}

